:root {
  /* Fonts */
  --font-family: "Roboto", "Raleway", "sans serif";
  /* Colors */
  --ctas-links-color: #4d5ae5;
  --ctas-color: #404bbf;
  --overlays-color: #2e2f42;
  --valid-fields-color: #31d0aa;
  --body-text-color: #434455;
  --helper-text-color: #8e8f99;
  --subtle-background-color: #e7e9fc;
  --color-cloud: #f4f4fd;
  --background-color: #ffffff;
  --modal-background-color: #fcfcfc;

  /* Others */
}

.body {
  -font-family: "Roboto", "Raleway", "sans serif";
  -color: #434455;
  -backgroud-color: var(--background-color);
}

/* Header styles */
.contact-link {
  color: #434455;
}

.header-list {
  list-style: none;
}

.contact.link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.logo-left {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.166;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.header-logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.166;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}

.header-menu-link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
}

/* Main */
.contact-list {
  list-style: none;
}

.main-section {
  background: #2e2f42;
}

.main-title {
  color: #ffffff;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
}
.button-main {
  cursor: pointer;
  color: #ffffff;
  background: #4d5ae5;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}

.button-main:hover,
.button-main:focus {
  color: #404bbf;
}

/* About styles */
.about-list {
  list-style: none;
}

.link {
  text-decoration: none;
}
.text-style-header-1 {
  font-size: 56px;
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-decoration: none;
  text-transform: none;
}
.text-style-header-2 {
  font-size: 36px;
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-decoration: none;
  text-transform: capitalize;
}
.text-style-header-3 {
  font-size: 20px;
  font-family: "Roboto";
  font-weight: 500;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;
  text-transform: none;
}

.text-style-body-medium {
  font-size: 16px;
  font-family: "Roboto";
  font-weight: 500;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  text-transform: none;
}
.text-style-button-text {
  font-size: 16px;
  font-family: "Roboto";
  font-weight: 500;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-decoration: none;
  text-transform: none;
}
.text-style-small-text {
  font-size: 12px;
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  line-height: 1.166;
  letter-spacing: 0.04em;
  text-decoration: none;
  text-transform: none;
}
.text-style-link-text {
  font-size: 12px;
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: 0.04em;
  text-decoration: underline;
  text-transform: none;
}

.doing-list {
  list-style: none;
}
.team-list {
  list-style: none;
}
.button-list {
  list-style: none;
}
.list {
  list-style: none;
}

/* Footer styles */
.page-footer {
  background: #2e2f42;
}
.logo-left {
  color: #4d5ae5;
  width: 44px;
  height: 21px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.166;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer-logo {
  color: #f4f4fd;
  width: 71px;
  height: 21px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.166;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer-text {
  color: #f4f4fd;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
